---
import type { NewsletterBlock as NewsletterBlockType } from '../types'
export type Props = {
  block: NewsletterBlockType
}

const { block }: Props = Astro.props
const { action, title, description } = block
---

<form action={action} method="post" target="popupwindow" class="newsletter-block">
  <h2>{title}</h2>
  <p>{description}</p>
  <div class="newsletter-form">
    <input type="email" name="email" placeholder="Enter your email" class="newsletter-input" required />
    <input type="submit" value="Subscribe" class="newsletter-button" />
  </div>
</form>
